body {
    background-color: #FFF8DC;
    font-size: 50px;
    font-weight: bold;
}
main{
   margin: auto;
   margin-top: 15%;
    width: 50%;
    text-align: center;
}
button{
    background-color: white;
    border-radius: 12px;
    font-size: 32px;
    cursor: pointer;
}
button:hover {
    background-color: black;
    color: white;
    border-radius: 12px;

    
}